/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background: #013220; /* dark green */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Container */
.container {
  max-width: 500px;
  width: 100%;
}

/* Input & Button */
input {
  padding: 10px;
  width: 70%;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background: #00b894;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #019875;
}

/* Clock */
#clockContainer {
  margin-top: 20px;
}

#clock {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

.hidden {
  display: none;
}
